<div class="col-md-2 col-lg-2 col-xl-2 col-xs-2 col-sm-2">
    <div class="nav nav-fixed-top pull-left affix sidebar">
            <div class="list-group">
                <a class="list-group-item active sidebar-head">Меню</a>
                <div class="list-group-item">
                    <div class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-tasks"></span> Список задач</div>
                    <div class="dropdown-menu">
                        <a routerLink="/" class="dropdown-item"><span class="fa fa-sort-amount-asc"></span> Дата создания</a>
                        <a routerLink="/finish" class="dropdown-item"><span class="fa fa-sort-amount-asc"></span> Дата завершения</a>
                        <a routerLink="/priority" class="dropdown-item"><span class="fa fa-sort-amount-desc"></span> Приоритет</a>
                    </div>
                </div>

                <a routerLink="/create" class="list-group-item"><span class="fa fa-plus-square"></span> Новая задача</a>

                <a routerLink="/login" class="list-group-item"><span class="fa fa-sign-out"></span> Выйти</a>
            </div>
    </div>
</div>
<div class="col-md-10 col-lg-10 col-xl-10 col-xs-10 col-sm-10">
    <router-outlet></router-outlet>
</div>

