.footer {
  background: rebeccapurple;
  margin-top: -40px;
  position: relative;
  padding: 0;
}

.footer p {
  color: #ccc;
  font-size: .9em;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
}
