.active{
  background-color: rebeccapurple;

}

.tasks-list{
  display: inline-block;
  float: left;
}

.sidebar{
  margin-top: 30px;
  text-align: left;
  color:white;
}
.sidebar-head{

  text-align: center;
}

.list-group-item,.dropdown-item{
  color: #0275d8;
}

.dropdown-toggle,.logout,.create,.tasks-list:hover{
  cursor: pointer;
}